//
//  Components
//
.card {
  &__symbol {
    //padding: 3rem;
  }


  &__name {
    padding-top: 1rem;
    font-weight: bold;
    text-align: center;
  }
}




.card {
  cursor: pointer;


  &__front,
  &__back {
    height: 100%;

    border: 1px solid $black;
    border-radius: calc(1rem / 2);
  }


  &__front {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    color: $grey-70;

    background: $black;

    @include transition();
    &:hover {
      font-size: 5rem;
      color: $grey-50;
    }
  }


  &__back {
    padding: 2rem;
    background: $white;

    @include transition();
    &:hover {
      border-width: 2px;
    }
  }
}



//
//  States
//
.card {
  &[disabled] { cursor: default; }
}